/* change colors to hex to be consistent */

h1 {
  text-align: center;
}
#container {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
#blue {
  width: 200px;
  height: 200px;
  background-color: blue;
}
#red {
  width: 200px;
  height: 200px;
  background-color: red;
}
#green {
  width: 200px;
  height: 200px;
  background-color: green;
}
#yellow {
  width: 200px;
  height: 200px;
  background-color: #FFD12A; /*Banana #FFD12A */
}
