/* change colors to hex to be consistent */

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  text-decoration: underline;
}
p {
  font-family: 'Righteous', cursive;
  font-size: 16px;
  left: 100%;
}
#gameOver {
  font-size: 100px;
  text-align: center;
  top: 200px;
}
#startNewGame {
  position: relative;
  left: 37%;
  bottom: 250px;
  border: none;
  background-color: black;
  color: white;
  height: 100px;
  width: 100px;
  font-size: 16px;
  border-radius: 50%;
}
#container {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 50%;
}
/* #superContainer{
  width: 400px;
  height: 400px;
  margin: auto;
} */
#blue {
  width: 190px;
  height: 190px;
  background-color: blue;
  border-top-left-radius: 100%;
  border:5px solid black;
}
#red {
  width: 190px;
  height: 190px;
  background-color: 	#B22222;
  border-bottom-left-radius: 100%;
  border:5px solid black;
}
#green {
  width: 190px;
  height: 190px;
  background-color: green;
  border-top-right-radius: 100%;
  border:5px solid black;
}
#yellow {
  width: 190px;
  height: 190px;
  background-color: #FFD12A; /*Banana #FFD12A */
  border-bottom-right-radius: 100%;
  border:5px solid black;
}
